
<!--  Footer  -->

<footer>
    <!-- footer main -->
    <section class="ft-main">
        <div class="ft-main-item">
            <h2 class="ft-title"><span>Ours</span>Tech</h2>
            <p>Centers more on technologies but will cut accross all spheres.</p>
            <ul>
                <li><i class="fas fa-phone">&nbsp;+234-80 633 000 44</i></li>
                <li><i class="fas fa-envelope">&nbsp;info.oursitech@gmail.com</i></li>
            </ul>
            <div class="ft-socials">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-discord"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="ft-main-item">
            <h2 class="ft-title">Projects</h2>
            <ul>
                <li><a href="#">APIs</a></li>
                <li><a href="#">Console application</a></li>
                <li><a href="#">Web app</a></li>
                <li><a href="#">Code snippets</a></li> 
            </ul>
        </div>
        <div class="ft-main-item">
            <h2 class="ft-title">Quick Links</h2>
            <ul>
                <li><a href="#">Teclado</a></li>
                <li><a href="#">AwaInspire</a></li>
                <li><a href="#">Discord</a></li>
                <li><a href="#">Somesite</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h2 class="ft-title">Contact Us</h2>
            <form>
                <input type="email" name="email" class="input-text contact-input" placeholder="Enter your emailaddress">
                <textarea name="message" class="input-text contact-input" placeholder="enter your message"></textarea>
                <button type="submit" class="btn btn-big contact-btn">
                    <i class="fas fa-envelope"></i>
                    Send
                </button>
            </form>
        </div>
    </section>

    <!-- footer legal -->
    <section class="ft-legal">
        <div class="ft-copy-right">
            &copy; oursitech.com | powered by Regha
        </div>
    </section>

</footer>

<!--  End Footer  -->