<header>
    <div class="logo">
        <a href="{{ url_for('index')}}"><h1 class="logo_text"><span>Ours</span>Tech</h1></a>
    </div>
    <i class="fa fa-bars toggle_menu"></i>
    <ul class="nav">
        <li><a href="{{ url_for('index')}}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        {% if current_user.is_authenticated %}

        <li class="nav-item">
            <a class="dropdown-toggle" href="" id="navbarDropdown" role="button"  aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                {{current_user.username}}
            </a>
            <ul class="" aria-labelledby="navbarDropdown">
              <li><a class="" href="{{ url_for('dashboard')}}">Dashboard</a></li>
              <li><a class="" href="{{ url_for('add_posts')}}">New Post</a></li>
              <li><a class="logout" href="{{ url_for('logout')}}">logout</a></li>
            </ul>
          </li>

        {% else %}
        <li class="nav-item">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button"  aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                New
            </a>
            <ul class="" aria-labelledby="navbarDropdown">
              <li><a class="" href="{{ url_for('login')}}">Login</a></li>
              <li><a class="" href="{{ url_for('add_user')}}">Sign up</a></li>
            </ul>
          </li>
        {% endif %}
    </ul>
</header>
